<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>axis post 로그인</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <form name="register">
      <fieldset>
        <label for="id">아이디</label>
        <input
          type="text"
          id="id"
          required
          placeholder="id를 입력해주세요"
          name="id"
        />
        <label for="pw" id="pw">비밀번호</label>
        <input
          type="text"
          name="pw"
          id="pw"
          required
          placeholder="비밀번호를 입력해주세요"
        />
        <br />
        <button onclick="logIn()">로그인</button>
      </fieldset>
    </form>
    <div class="result"></div>
  </body>
  <script>
    const resultBox = document.querySelector(".result");
    async function logIn() {
      const form = document.forms["register"];
      const data = {
        id: form.id.value,
        pw: form.pw.value,
      };
      if (!form.id.checkValidity()) {
        resultBox.textContent = "id를 입력해주세요";
        resultBox.style.color = "red";
      } else if (!form.pw.checkValidity()) {
        resultBox.textContent = "비밀번호를 입력해주세요";
        resultBox.style.color = "red";
      } else {
        try {
          const response = await axios({
            method: "post",
            url: "/register2",
            data: data,
          });
          resultBox.innerText = "로그인에 성공했습니다.";
          resultBox.style.color = "blue";
        } catch (err) {
          console.log(err);
        }
      }
    }
  </script>
</html>
