#btn_signin {
  background-color: #ff6f0f;
  color: white;
}
#btn_signup {
  border: 1px solid #ff6f0f;
}
.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
#img_logo {
  display: flex;
  justify-content: center;
}
#btn_signupNow {
  background-color: #ff6f0f;
  color: white;
}
