.matchup-container {
  margin-bottom: 20px;
}

.matchup-header {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.matchup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  position: relative;

  .vs {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    color: #e74c3c;
    z-index: 1;
  }

  &:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 2px;
    background-color: #e74c3c;
    z-index: 0;
  }
}

.ramen-option {
  flex: 1;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 1;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #ddd;
    transition: transform 0.3s, border-color 0.3s;

    &:hover {
      transform: scale(1.1);
      border-color: #e74c3c;
    }
  }

  div {
    font-size: 16px;
    font-weight: bold;
  }
}
