<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>채팅창 UI 만들기</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="users"></div>
    <div id="space"></div>
    <form id="chat">
      <input type="text" id="message" />
      <button>전송</button>
    </form>
    <script>
      const socket = io();
      const users = document.getElementById("users");
      const space = document.getElementById("space");
      const chatForm = document.getElementById("chat");

      chatForm.addEventListener("submit", (e) => {
        e.preventDefault();
        const input = chatForm.querySelector();
      });
    </script>
  </body>
</html>
